div{
    border: 1px solid black;
    height: 100px;
}
.container{
    display: flex;
     flex-direction: column;
     height: fit-content;
     justify-content: space-evenly;
}
.item{
    width: 30%;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-size: 24pt;
}
.item2{
    flex-grow: 2;
}